<header>
    <h1><a href="/"> CMS 102</a></h1>
    <nav>
        <a href="/createBlog">Add Blog</a>
        <a href="/register">Regester</a>
        <a href="/login">Login</a>

      

    </nav>
</header>